body {
    margin:0;
    background-color: pink; 
}

h1 {
    text-decoration: underline white;
    color: white;
    text-align: center
}

header{
    padding: 30px;
    background: linear-gradient(pink, rgba(239, 132, 185, 0.72));
}

footer{
    border-top:2px dashed #ffffff;
    background: linear-gradient(#ffa8b7, rgb(150, 0, 104));
    padding:20px;
    bottom: 0;
    width: 100%
}
footer nav {
    display:inline-block;
    font-family:monospace;
    font-size: 24px;
    padding-bottom: 15px;
    text-align: center;
    width:100%;
}
nav li{
    display:inline-block;
    font-family:monospace;
    font-size: 24px;
    padding-bottom: 15px;
    text-align: center;
    
}

#headnav{
    text-align: center;
    width: 100%
}

nav a, nav div {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    margin: 1px;
    color: antiquewhite;
    box-shadow: 2px 4px 4px #650265;
    display: inline-block;
    background-color: rgba(237, 64, 252, 0.66)
}
section {
    padding: 60px;
    display: none;
      
} 
